* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: montserrat-thin;
    src: url(../font/montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../font/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../font/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../font/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: impact;
    src: url(../font/impact/impact.ttf);
}

@font-face {
    font-family: lobster;
    src: url(../font/lobster/lobster-regular.ttf);
}

@font-face {
    font-family: titillium-web;
    src: url(../font/titillium-web/titillium-web-regular.ttf);
}

@font-face {
    font-family: alef;
    src: url(../font/he/alef/Alef-Bold.ttf);
}

@font-face {
    font-family: assistant;
    src: url(../font/he/assistant/Assistant-ExtraBold.ttf);
}

@font-face {
    font-family: karantina;
    src: url(../font/he/karantina/Karantina-Bold.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../font/he/rubik/rubik-regular.ttf);
}

@font-face {
    font-family: varela-round;
    src: url(../font/he/varela-round/varela-round-regular.ttf);
}

/* BASE */

html {
    height: 100vh;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

/* LAYOUT */

.main-layout {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    margin: auto;
    max-width: 650px;
}

/* SCREEN */

.screen {
    position: fixed;
    inset: 0;
    background-color: #0000006e;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.screen, .main-nav{
    z-index: 5
}

body.screen-active .screen {
    opacity: 1;
    pointer-events: auto;
}

/* HEADER */

.main-header {
    background-color: #ff7f00;
}

.header-container {
    justify-content: space-between;
}

.logo {
    padding: 20px 0;
}

.logo img {
    height: 50px;
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 100%;
    position: fixed;
    top: 0;
    /* לשים ב 0*/
    right: -200px;
    align-items: center;
    gap: 40px;
    font-size: 1.875rem;
    font-family: montserrat-regular;
    background-color: #ff9a02e0;
    box-shadow: -10px 0 20px 0 #322c2c;
    transition: 0.4s;
}

.main-nav>li:first-child {
    height: 94px;
    align-items: center;
    font-size: 3.5rem;
}

.main-nav>li:not(:first-child)>a {
    text-decoration: none;
    color: #ffffff;
}

.main-nav>li:first-child>a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

.open-menu {
    font-size: 3.5rem;
    color: #000000;
    align-self: center;
    cursor: pointer;
    transition: 1.5s;
}

/* MAIN CONTENT */

.main-content {
    margin-block-start: 20px;
    padding-block-end: 125px;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
}

.gallery>img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #000000;
}

.gallery>img:hover {
    box-shadow: 0 0 15px 5px #995c1c;
}

/* MEMES TOOLS*/

.create-meme {
    display: none;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.meme-tools {
    flex: 1;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(60px, 1fr));
    grid-template-rows: repeat(6, 60px);
    justify-content: center;
    align-items: center;
}

.meme-tools>div {
    height: 40px;
}

.meme-tools>div img {
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
}

.meme-tools>*>*:not(input), .screen {
    cursor: pointer;
}

.meme-tools>.tool1 {
    grid-row: 1/2;
    grid-column: 1/-1;
    align-self: flex-start;
}

.meme-tools>.tool1>input {
    width: 93%;
}

.meme-tools>.tool12 {
    grid-row: 4/5;
    grid-column: 1/4;
}

.meme-tools>.tool12>select {
    width: 88%;
}

.meme-tools>.tool13 {
    position: relative;
}

.meme-tools>.tool13>input {
    position: absolute;
    left: 10px;
    width: 67%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.meme-tools>.tool14 {
    position: relative;
}

.meme-tools>.tool14>input {
    position: absolute;
    left: 10px;
    width: 67%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.meme-tools>.tool1>input, .meme-tools>.tool12>select {
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    outline: 0;
    font-size: 1.6rem;
}

.meme-tools>.tool15>a>img {
    background-color: #7fff66
}

/* SELECT FONTS */

.tool12>select>:nth-child(1) {
    font-family: alef;
}

.tool12>select>:nth-child(2) {
    font-family: assistant;
}

.tool12>select>:nth-child(3) {
    font-family: impact;
}

.tool12>select>:nth-child(4) {
    font-family: karantina;
}

.tool12>select>:nth-child(5) {
    font-family: lobster;
}

.tool12>select>:nth-child(6) {
    font-family: rubik;
}

.tool12>select>:nth-child(7) {
    font-family: titillium-web;
}

.tool12>select>:nth-child(8) {
    font-family: varela-round;
}

/* CANVAS */

.canvas-container {
    margin: 0;
    width: 100%;
    /* height: 350px; */
}

canvas {
    display: block;
    box-shadow: 0 0 20px 0px;
    border-radius: 10px;
}

/* FOOTER */

footer {
    min-height: 100px;
    width: 100%;
    background-color: #ff7f00;
    text-align: center;
    font-family: impact;
    position: absolute;
    bottom: 0;
}

/* HELPERS */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

@media screen and (min-width: 700px) {
    .main-layout {
        max-width: 660px;
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
    .main-nav {
        flex-direction: unset;
        width: unset;
        height: unset;
        position: unset;
        top: unset;
        right: unset;
        align-items: center;
        gap: 25px;
        font-size: 1.875rem;
        font-family: montserrat-regular;
        background-color: unset;
        box-shadow: unset;
        transition: 0.4s;
    }
    .main-nav>li:first-child {
        display: none;
    }
    .open-menu {
        display: none;
    }
    .canvas-container {
        width: 350px;
        height: 350px;
    }
    .create-meme {
        flex-wrap: nowrap;
    }
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (min-width: 940px) {
    .main-layout {
        max-width: 900px;
    }
    .canvas-container {
        width: 500px;
        height: 500px;
    }
}