* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: montserrat-thin;
    src: url(../font/montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../font/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../font/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../font/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: impact;
    src: url(../font/impact/impact.ttf);
}

@font-face {
    font-family: lobster;
    src: url(../font/lobster/lobster-regular.ttf);
}

@font-face {
    font-family: titillium-web;
    src: url(../font/titillium-web/titillium-web-regular.ttf);
}

@font-face {
    font-family: alef;
    src: url(../font/he/alef/Alef-Bold.ttf);
}

@font-face {
    font-family: assistant;
    src: url(../font/he/assistant/Assistant-ExtraBold.ttf);
}

@font-face {
    font-family: karantina;
    src: url(../font/he/karantina/Karantina-Bold.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../font/he/rubik/rubik-regular.ttf);
}

@font-face {
    font-family: varela-round;
    src: url(../font/he/varela-round/varela-round-regular.ttf);
}

/* BASE */

html {
    height: 100vh;
}

body {
    margin: 0;
}

/* LAYOUT */

.main-layout {
    max-width: 900px;
}

.header-container, .main-content, .footer-container {
    margin: auto;
}

/* HEADER */

.main-header {
    background-color: #ff7f00;
}

.header-container {
    justify-content: space-between;
}

.logo {
    padding: 20px 0;
}

.logo img {
    height: 50px;
}

.main-nav {
    align-items: center;
    gap: 25px;
    font-size: 1.875rem;
    font-family: montserrat-regular;
}

.main-nav>li>a {
    text-decoration: none;
    color: #ffffff;
}

/* MAIN CONTENT */

.main-content {
    margin-block-start: 20px;
    margin-block-end: 20px;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    gap: 20px;
}

.gallery>img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}

/* MEMES */

.create-meme {
    display: none;
    gap: 20px;
}

.meme-tools {
    flex: 1;
    border: 1px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 60px);
    justify-content: center;
    align-items: center;
}

.meme-tools>div {
    height: 40px;
}

.meme-tools>div img {
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
}

.meme-tools>*>*:not(input) {
    cursor: pointer;
}

.meme-tools>.tool1 {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.meme-tools>.tool1>input {
    width: 93%;
}

.meme-tools>.tool12 {
    grid-row: 4/5;
    grid-column: 1/4;
}

.meme-tools>.tool12>select {
    width: 88%;
}

.meme-tools>.tool13 {
    position: relative;
}

.meme-tools>.tool13>input {
    position: absolute;
    left: 10px;
    width: 67%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.meme-tools>.tool14 {
    position: relative;
}

.meme-tools>.tool14>input {
    position: absolute;
    left: 10px;
    width: 67%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.meme-tools>.tool1>input, .meme-tools>.tool12>select {
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    outline: 0;
}

.meme-tools>.tool15>a>img {
    background-color: #71bae3;
}

/* SELECT FONTS */

.tool12>select>:nth-child(1) {
    font-family: alef;
}

.tool12>select>:nth-child(2) {
    font-family: assistant;
}

.tool12>select>:nth-child(3) {
    font-family: impact;
}

.tool12>select>:nth-child(4) {
    font-family: karantina;
}

.tool12>select>:nth-child(5) {
    font-family: lobster;
}

.tool12>select>:nth-child(6) {
    font-family: rubik;
}

.tool12>select>:nth-child(7) {
    font-family: titillium-web;
}

.tool12>select>:nth-child(8) {
    font-family: varela-round;
}

/* CANVAS */

canvas {
    display: block;
}

/* FOOTER */

footer {
    background-color: #ff7f00;
    height: 80px;
    text-align: center;
}

/* HELPERS */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}